@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



header .nav .navbar {
    padding: 10px 30px;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background-color: rgba(48, 46, 46, 0.466);
    border-radius: 25px;
}

header .nav .navbar .logo p a span img {
    width: 140px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

header .nav .navbar .logo p a span i {
    width: 70px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

header .nav .navbar .navigateur .titreBlog {
    font-size: 40px;
    color: red;
    font-weight: bold;
}

header .nav .navbar .navigateur .titreBlog:hover {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

header .nav .navbar .navigateur {
    gap: 50px;
    display: flex;
}

header .nav .navbar .navigateur a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    transition: 0.5s;

}

header .nav .navbar .navigateur a:hover {
    color: rgb(255, 0, 0);
    font-size: larger;
    transition: 0.5s;
}

header .nav .navbar .navigateur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


header .nav .navbar .navigateur a {
    text-decoration: none;
}

header .nav .navbar .navigateur a button {
    padding: 05px 20px;
    background-color: rgba(0, 0, 0, 0.144);
    font-size: large;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    transition: 0.5s;
}

header .nav .navbar .navigateur a button:hover {
    background-color: rgb(0, 0, 0);
    border-color: white;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

header {
    padding-top: 20px;
    width: 100%;
    height: 112vh;
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.904)), url(ressources/pexels-sebastiaan9977-1480690.jpg);
    background-size: cover;
    background-position: center;
}


header .banner {
    gap: 20px;
    /* padding-top: 50px; */
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding:0px;
}

.banner .left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner .right {
    text-align: center;
}
.banner .right .ac {
    color: #ff0000;
    font-size: 35px;
}
.banner .right p {
    font-size: 25px;
    color: #9c9c9c;
}

header .banner p span {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: left;
}

header .banner p span.profil {
    color: rgba(255, 0, 0, 0.822);
}

header .banner p.contact {
    color: rgb(255, 255, 255);
    /* font-weight: bolder; */
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10px;
}
.right p {
    color: #ff0000;
}

header .banner1 {
    font-size: 20px;
    margin-top: 03%;
}

header .banner2 {
    margin-top: 05%;
    margin-left: 28%;
}

header .banner p.contact a {
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 25px;
    transition: 0.5s;
}

header .banner p.contact a:hover {
    font-weight: 700;
    transition: 0.5s;
    background-color: #ffffff;
    border: 1px bold #ff0000;
    color: #ff0000;

}

header .banner1 p.att {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding-left: 4%;
    display: flex;
    /* justify-content: center; */
    font-size: 40px;
}

header .banner1 .contact {
    color: rgb(255, 255, 255);
    /* font-weight: bolder; */
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}

header .banner1 .contact a {
    padding: 10px 10px;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0.753);
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0, 8s;
}

header .banner1 .contact a:hover {
    cursor: pointer;
    background-color: rgba(48, 46, 46, 0.466);
    border: 1px bold aliceblue;
    font-size: 22px;
    transition: 0, 8s;
}

header .banner1 .serv {
    margin-top: 5%;
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .banner1 .serv div {
    background-color: rgba(48, 46, 46, 0.466);
    padding: 30px 10px;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    transition: 0, 8s;
}

header .banner1 .serv div:hover {
    background-size: cover;
    transition: 0, 8s;
}

header .banner1 .serv div .titre {
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 700;
}

header .banner1 .serv div span {
    font-size: 18px;
    color: rgb(255, 255, 255);
}



/* From Uiverse.io by gharsh11032000 */
.banner2 .titre p {
    color: #ff0000;
    margin: 10px 10px;
    font-size: 30PX;
    font-weight: 800;
}

.form-container {
    width: 600px;
    background: linear-gradient(#000000, #000000) padding-box,
        linear-gradient(145deg, transparent 40%, #ff0000, #000000) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 20px;
    font-family: inherit;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 25px;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #ff0000;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #ff0000;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #ffffffee;
    border-color: #fff;
    color: #ff0000;
}



/* From Uiverse.io by lowa2006 */
header .banner3 {
    margin-top: 01%;
    margin-left: 28%;
}

header .banner3 .card {
    width: 550px;
    height: 520px;
    background: #171717a4;
    transition: 1s ease-in-out;
    clip-path: polygon(50px 0%,
            100% 0,
            100% calc(100% - 30px),
            calc(100% - 30px) 100%,
            0 100%,
            0% 50px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

header .banner3 .card span {
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
    display: block;
    font-size: 20px;
}

header .banner3 .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
}

header .banner3 .card .img {
    margin-top: 10px;
    width: 10em;
    height: 10em;
    background: url(ressources/4c42218fdbbd6180d889982e1bb0c442.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: auto;

}

header .banner3 .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 15px;
}

header .banner3 .card a {
    color: white;
    transition: 0.4s ease-in-out;
}

header .banner3 .card a:hover {
    color: red;
}

header .banner3 .card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
}

header .banner3 .card button:hover {
    background: red;
    color: white;
    cursor: pointer;
}


.nav .navbar .menu-hamburger {
    display: none;
}


/* Responsive */


@media screen and (max-width: 1147px) {
    .nav .navbar .menu-hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        bottom: 0;
        width: 30px;
    }


    header {
        height: 120vh;
        padding-top: 0px;
        margin: 0px;
    }

    header .banner {
        display: flex;
        text-align: center;
        padding-left: 0px;
    }

    header .banner p span {
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }

    header .banner p span.profil {
        font-size: 35px;
        color: #ff0000d2;
    }


    header .banner p.contact {
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    header .banner p.contact a {
        background-color: #ff0000;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 50px;
        text-align: center;
        border-radius: 25px;
        transition: 0.5s;
    }

    header .banner p.contact a:hover {
        font-weight: 700;
        transition: 0.5s;
        background-color: #ffffff;
        border: 1px bold #ff0000;
        color: #ff0000;

    }

    header.serv {
        height: 180vh;
    }

    header .nav .navbar {
        padding-top: 60px;
        margin: 0px;
    }

    header .nav .logo {
        position: absolute;
        top: 19px;
    }

    header .nav .navbar .logo p a {
        position: absolute;
        top: -11px;
    }

    header .nav .navbar .navigateur a {
        margin: 1px 0;
        color: #ffffff;
        font-size: larger;
    }

    header .nav .navbar .navigateur {
        display: none;
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        gap: 25px;
        margin-left: -100%;
        backdrop-filter: blur(8px);
        align-items: top;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: #0000002c;
        width: 100%;
        height: 100vh;
        transition: all 0.5s ease;
    }

    .menu-hamburger {
        z-index: 1000;
    }

    header .nav .navbar .navigateur.mobile-menu {
        margin-left: 0;
    }

    .banner1 .serv {
        display: flex;
        flex-direction: column;
    }

    .banner1 .contact p {
        display: flex;
        justify-content: right;
        margin-top: 100px;
    }

    .banner1 .contact {
        font-size: 30px;
    }
    header .banner3 {
        margin-top: 01%;
        margin-left: 0%;
    }

    header .banner3 .card {
        width: auto;
        height: auto;
        background: #171717a4;
        transition: 1s ease-in-out;
        clip-path: polygon(50px 0%,
                100% 0,
                100% calc(100% - 30px),
                calc(100% - 30px) 100%,
                0 100%,
                0% 50px);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }


    header .banner2 {
        margin-top: 0%;
        margin-left: 0;
    }

}